# Ignore all PNG files in sprites and subfolders
sprites/**/*.png

# Do not ignore .yy files anywhere under sprites
!sprites/**/*.yy

# datafiles
datafiles/

# resource order
PizzaTower_GM2.resource_order

# unignore all tileset sprites
!sprites/bg_grindrail/**
!sprites/bg_title/**
!sprites/bg_trapscreen/**
!sprites/spr_spaceprops/**
!sprites/tile_factory3/**
!sprites/spr_tileset_beachprops1/**
!sprites/spr_tileset_beachprops2/**
!sprites/tile_chateau1/**
!sprites/spr_tileset_chateaudecorations/**
!sprites/tile_dungeon/**
!sprites/tile_dungeon2/**
!sprites/tile_dungeon3/**
!sprites/tile_entrance1/**
!sprites/spr_tileset_farm/**
!sprites/spr_tileset_forestprops/**
!sprites/bg_tilefreezer/**
!sprites/tile_freezer2/**
!sprites/spr_tileset_freezerfridge/**
!sprites/tile_graveyard1/**
!sprites/tile_graveyard3/**
!sprites/tile_graveyard2/**
!sprites/tile_medieval/**
!sprites/tile_medieval2/**
!sprites/tile_medieval3/**
!sprites/spr_minigolfprops/**
!sprites/tile_pinball1/**
!sprites/tile_pinball2/**
!sprites/tile_pinball3/**
!sprites/tile_ruin/**
!sprites/tile_ruin2/**
!sprites/tile_secret/**
!sprites/spr_spaceglass/**
!sprites/spr_spaceprops2/**
!sprites/tile_strongcold/**
!sprites/spr_decorations/**
!sprites/sprite_tile_beachtest/**
!sprites/sprite_tile_beachtest2/**
!sprites/sprite_tile_beachtest2dark/**
!sprites/sprite_tile_citycarnival/**
!sprites/sprite_tile_citydark/**
!sprites/sprite_tile_forest/**
!sprites/sprite_tile_forest1_shade/**
!sprites/sprite_tile_forest2/**
!sprites/sprite_tile_kungfu/**
!sprites/tile_kunfucity/**
!sprites/sprite_tile_kungfustructure/**
!sprites/sprite_tile_minigolf/**
!sprites/sprite_tile_minigolf2/**
!sprites/sprite_tile_minigolf2_shad/**
!sprites/sprite_tile_space1/**
!sprites/sprite_tile_space2/**
!sprites/sprite_tile_space2shadow/**
!sprites/sprite_tile_space3/**
!sprites/sprite_tile_spaceback1/**
!sprites/sprite_tile_war1/**
!sprites/sprite_tile_war1shadow/**
!sprites/sprite_tile_war2/**
!sprites/sprite_tile_war3/**
!sprites/sprite_tile_war4/**
!sprites/spr_warprops/**
!sprites/spr_warprops/**
!sprites/spr_warprops/**
!sprites/sprite_warslope/**
!sprites/tile_ball/**
!sprites/spr_tile_beachcavern/**
!sprites/spr_beachdeco/**
!sprites/tile_bigrocks/**
!sprites/tile_castle/**
!sprites/tile_cavern/**
!sprites/spr_city1props/**
!sprites/spr_citycarnival/**
!sprites/spr_citydarkprops/**
!sprites/spr_tile_collision/**
!sprites/spr_desertdeco/**
!sprites/spr_tile_desertsecret/**
!sprites/tile_desert/**
!sprites/spr_dungeondeco/**
!sprites/spr_entrancedeco/**
!sprites/spr_exittile/**
!sprites/spr_factory2/**
!sprites/tile_factory/**
!sprites/spr_tile_farmceilling/**
!sprites/spr_tile_farmdeco/**
!sprites/spr_foresttile1/**
!sprites/spr_forestplaintile/**
!sprites/spr_tile_forestprops2/**
!sprites/spr_tilegolf/**
!sprites/tile_grabsign/**
!sprites/tile_grab/**
!sprites/spr_tile_graveyarddeco/**
!sprites/spr_graveyardmine/**
!sprites/spr_tile_industrialcomplex/**
!sprites/spr_interiortile2/**
!sprites/bg_jailroom1/**
!sprites/tile_keysign/**
!sprites/spr_kidspartytile/**
!sprites/spr_kitchentileOLD/**
!sprites/tile_lamp/**
!sprites/spr_mansiontile2/**
!sprites/tile_maxspeedsign/**
!sprites/spr_medievaldeco/**
!sprites/spr_tile_medievaldeco2/**
!sprites/spr_medievalinterior/**
!sprites/spr_medievallibrary/**
!sprites/spr_peppermantile/**
!sprites/spr_tile_peppermanboss/**
!sprites/spr_pizzamarttile/**
!sprites/spr_tile_plains/**
!sprites/spr_tile_planet/**
!sprites/tile_pressany/**
!sprites/spr_ruincheese/**
!sprites/spr_ruindeco/**
!sprites/spr_ruinend/**
!sprites/spr_ruinend_secret/**
!sprites/spr_tile_saloonalt/**
!sprites/spr_pinballwooden/**
!sprites/spr_sewer1props/**
!sprites/spr_sewer2props/**
!sprites/spr_tile_sewergraffiti/**
!sprites/spr_tile_ship/**
!sprites/spr_tile_space1/**
!sprites/spr_space2var/**
!sprites/spr_space3props/**
!sprites/spr_space3var/**
!sprites/tile_stairs/**
!sprites/spr_storagetile/**
!sprites/spr_tile_street/**
!sprites/tile_superjumphold/**
!sprites/tile_table/**
!sprites/spr_taskroomtile/**
!sprites/spr_tile_towerdesert/**
!sprites/tile_towerdetails/**
!sprites/spr_towerentrancehall/**
!sprites/spr_tile_towerfloor3/**
!sprites/spr_tile_towerfloor4/**
!sprites/spr_tile_towerfloor5/**
!sprites/tile_tower/**
!sprites/tile_trash/**
!sprites/spr_tile_tutorial/**
!sprites/tile_tutorialimage/**
!sprites/tile_tutorialsign/**
!sprites/tile_tutorialOLD/**
!sprites/tile_ufo/**
!sprites/tile_wallrun/**
!sprites/spr_warlab/**
!sprites/spr_tile_waroutside/**
!sprites/trapscreen2/**

# Modified sprites
!sprites/spr_tv_palette/**
!sprites/spr_tv_paletteN/**
!sprites/spr_tv_combopalette/**
!sprites/spr_tv_combopaletteN/**
!sprites/spr_pepperman_portrait/**
!sprites/spr_pepperman_portraitN/**
!sprites/spr_pepperman_move/**